RecipesShareSOAP/WebContent/wsdl/AuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Services.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Services.com" xmlns:intf="http://Services.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Services.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="connectionUser">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connectionUserResponse">
    <complexType>
     <sequence>
      <element name="connectionUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="connectionUserResponse">

      <wsdl:part element="impl:connectionUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectionUserRequest">

      <wsdl:part element="impl:connectionUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthenticationService">

      <wsdl:operation name="connectionUser">

         <wsdl:input message="impl:connectionUserRequest" name="connectionUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:connectionUserResponse" name="connectionUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthenticationServiceSoapBinding" type="impl:AuthenticationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="connectionUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connectionUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connectionUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthenticationServiceService">

      <wsdl:port binding="impl:AuthenticationServiceSoapBinding" name="AuthenticationService">

         <wsdlsoap:address location="http://localhost:8080/RecipesShareSOAP/services/AuthenticationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
